<h1>soberi sketch</h1>
<h2>Custom art, cos no one want to be a basic b***h</h2>
<%= image_tag("mcheese-webr.jpg", class: "img-responsive", size: "640x360") %>
<p>costs... way too much</p>

<!-- <div class="container gallery" id="gallery_1">
      
</div>

<div class="container gallery" id="gallery_2">
      
</div>

<div class="container gallery" id="gallery_3">
      
</div> -->